.playwrite-cz {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.center {
  text-align: center;
}

.animated-blue-text {
    animation-name: animated-blue-text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animated-blue-text {
    from { color: rgb(0, 153, 255); }
    to { color: lightblue; }
}

.wrap{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bluestuff {
    background-color: #203f5f;
}

.lightbluetext {
    color: #BDD5E7;
}
body {
    font-family: Arial, sans-serif;
}

.cooler-font {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #0e1b29;
    color: #fff;
    padding: 10px 0;
}

#logo {
    float: left;
    font-size: 1.5em;
}

nav {
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #203f5f;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.content {
    padding: 50px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        text-align: center;
        width: 100%;
        position: absolute;
        background-color: #1c3652;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .burger {
        display: block;
        float: right;
        margin-top: 15px;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

div#scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #D1E5F4;
    z-index: 500;
}

.borderparagraph {
  margin: 35px 0;
  padding: 5px;
  border: 1px solid #b69bff;
}

.beeg-paragraph {
    margin:20px 0;
    padding: 5px;
}